*.log
*.bak
*.iml

.idea
.gradle

target
build
dump/
*.ipr
*.iws
gradle-app.setting
stanford-corenlp-3.3.1-models.jar

/data/umdfaces/
/data/umdfaces_aligned/
models/dlib
UIStorageTrainStats.dl4j
UIStorageTrainStats.dl4j.wal.0
